/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* PROFILE PAGES STUDENT*/

body {
	width: 100%;
}

.profile-side-nav {
	width: 20%;
	float: left;
	height: 100%;

}

.profile-main {
	margin-left: 30px;
	width: 75%;
	float: left;
}

.experience, .profile-contact, .job {
	background-color: #E6E6E6;
	margin-bottom: 10px;
	border: solid 1px black;
}

.hidden {
	display: none;
}

#profile-image {
	max-width: 200px
}


