/* navigation bar*/

.current-user-header{
	height: 25px;
	background-color: #282828;
	color: white;
	padding: 10px;

	.nav-bar-picture {
	width: 25px;
	float: left;
	}

	a {
		font-family: helvetica;
		color: white;
		padding-left: 10px;
		padding-top: 5px;
		text-decoration: none;
		vertical-align: bottom;
		float: left;
	}

	a:hover, #logout:hover {
		color: #00FF99;
		font-weight: bold;
	}

	#logout {
		padding-left: 10px;
		padding-top: 5px;
		float: right;
	}
}