/* navigation bar*/

.current-user-header{
	height: 25px;
	background-color: #282828;
	color: white;
	padding: 10px;
	border-bottom: solid 2px #00FF99;
	
	.nav-bar-picture {
	width: 25px;
	float: left;
	margin-left: 10px;
	}

	a {
		font-family: helvetica;
		color: white;
		margin-left: 10px;
		padding-top: 5px;
		text-decoration: none;
		vertical-align: bottom;
		float: left;
	}

	a:hover {
		color: #00FF99;
		border-bottom: solid 1px #00FF99;
	}


	#logout, #login {
		padding-top: 5px;
		float: right;
		margin-right: 10px;
	}


	#logout:hover {
	color: #00FF99;
	background-color: #474747;
	border-radius: 5px;
	padding: 5px;
	border-bottom: none;
	}
}