.job-show{
	h1{
		color: #00FF99;
		margin-right: 50px;
	}

	h3{
		margin-left: 50px;
		margin-top: 15px;
		margin-right: 50px;
	}
	.job-posting-content{
		margin-left: 50px;
		margin-top: 20px;
		color: #6E6E6E;
		line-height: 25px;
		max-width: 1000px;
		margin-right: 50px;
	}
}