.job-show{
	h1{
		color: #00FF99;
		margin-right: 50px;
		line-height: 45pt;
		margin-top: 30px;
	}

	h3{
		margin-left: 50px;
		margin-top: 30px;
		margin-right: 50px;
	}

	span {
		background-color: #D4D4D4;
		padding: 5px;
		border-radius: 2px;
		margin-right: 5px;
		font-size: 13pt;
	}


	.job-posting-content{
		margin-left: 50px;
		margin-top: 20px;
		color: #6E6E6E;
		line-height: 25px;
		max-width: 1000px;
		margin-right: 50px;
		margin-bottom: 20px;
	}

	a {
			background-color: #4D4D4D;
			padding: 8px;
			margin-left: 50px;
			margin-bottom: 50px;
			color: #00FF99;
			text-decoration: none;
			font-size: 12px;
		}

		a:hover {
			background-color: #00FF99;
			color: #4D4D4D;
			font-size: 12px;
			border: solid 1px #00FF99;
		}
}