.profile-side-nav {
	background-color: white;
	border-radius: 5px;
	border: solid 1px #E6E6E6;
	padding: 20px;	
	width: 20%;
  float: left;
  min-width: 200px;
  margin-top: 40px;
  margin-left: 50px;

  	h3 {
  		border-bottom: solid 1px #00FF99;
  	}
}

