.profile-header h1 {
	margin-left: 0px;
	margin-bottom: 5px;
	
}

li {
	list-style-type: none;
	margin: 10px;
}

a {
	color: #666;
}

a:hover {
	color: #00FF99;
}

.contact-link {
	font-size: 18px;
	text-decoration: none;
}


.edit-button, .image-edit-button {
	font-size: 13px;
	float: right;

}

.profile-contact ul {
	margin-top: 30px;
}

.profile-contact ul li {
	margin-left: -20px;
}


.profile-header, .profile-skills, .profile-projects, .profile-experiences {
	background: white;
	border-radius: 5px;
	border: solid 1px #E6E6E6;
	padding: 20px;	
	width: 90%;
  height: 100%;
  min-width: 200px;
  margin-top: 40px;
 
}
.profile-skills h2, .profile-projects h2, .profile-experiences h2 {
	border-bottom: solid 1px #00FF99;
	margin-bottom: 5px;
}

.profile-contact, .profile-options, .profile-stats {
	margin-top: 20px;
	padding: 20px;
	border-bottom: solid 1px #00FF99;
}

.profile-contact {
	border-top: solid 1px #00FF99;
}

.profile-image {
	margin: auto;
}


.profile-header {
	margin-top: 0px;
}

.project, .experience {
    margin: 20px;
    border-radius: 7px;
		border: solid 1px #E6E6E6;
    padding: 20px;
}


.project-image {
    max-width: 100px;
    margin: 10px;
    margin-right: 20px;
    float: left;
}

.read-more {
			background-color: white;
			border: solid 1px #00FF99;
			padding: 6px;
			margin-bottom: 10px;
			text-decoration: none;
			font-size: 12px;
		}

.read-more:hover {
			background-color: #00FF99;
			color: #4D4D4D;
			font-size: 12px;
			border: solid 1px #00FF99;
		}

.delete-button, .image-update-button, .contact-update-button, .prefs-update-button, .student-header-update-button, .skill-update-button, .project-update-button, .project-create-button, .experience-update-button, .experience-create-button {
	font-size: 14px;
	background-color: white;
	border: solid 1px #00FF99;
	margin-top: 10px;
}

.profile-skills .delete-button {
	font-size: 8px;
	background-color: white;
	border: solid 1px #00FF99;
}

form {

	display: inline-block;
}

.skill-add-button, .add-button {
	font-size: 16px;
	background-color: #E6E6E6;
	width: 100%;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.skill-add-button:hover, .add-button:hover {
	background-color: #3A3A3A;
}



