<div class="home-main-content">
	<img class="logo-home" src="/assets/logo.png">
	<img class="desk-image-home" src="/assets/desk-image.jpg">
	<div class="welcomes-text">
		<h2>Welcome to the Generic Constructor users portal!</h2>
		<h3>Search for students and find jobs by skill type.</h3>
	</div>

</div>

<a class="signup button" href="users/new/employer">Register as an Employer</a>

<a class="signup button" href="users/new/student">Register as a Student</a></div>