<div>Logo placeholder <button id="login">Log in</button></div>


<div><p>Welcome to the Generic Construction users portal!</p></div>

<div><button id="regsiter_employer">Register as an Employer</button>

<button id="register_alumn">Register as an Alumn</button></div>