<div>Logo placeholder <a href="/login">Log in</a></div>

<div><p>Welcome to the Generic Construction users portal!</p></div>

<a class="signup button" href="users/new/employer">Register as an Employer</a>

<a class="signup button" href="users/new/student">Register as a Student</a></div>