<div>Logo placeholder <a href="/login">Log in</a></div>


<div><p>Welcome to the Generic Construction users portal!</p></div>

<div><a href="users/new_employer">Register as an Employer</a>

<a href="users/new_student">Register as an Alumn</a></div>