<div class="home-main-content">
	<img class="logo-home spin-gear" src="/assets/logo1.png">
	<img class="logo-home" src="/assets/logo2.png">
	<img class="desk-image-home" src="/assets/desk-image.jpg">
	<div class="welcomes-text">
		<h2>Welcome to the Generic Constructor users portal!</h2>
		<h3>Search for students and find jobs by skill type.</h3>
	</div>

</div>

<div class="home-bottom-boxes">

	<div class="home-bottom-box">
		
		<a class="signup button" href="users/new/employer"><img src="/assets/man-notes-macbook-computer.jpg"><br>Register as an Employer</a>
	</div>

	<div class="home-bottom-box">
		
		<a class="signup button" href="users/new/student"><img src="/assets/man-people-office-writing.jpg"><br>Register as a Student</a>
	</div>

	

</div>