

/* COLORS */

$dark-grey: #3A3A3A;
$mid-grey: #474747;
$light-grey: #E6E6E6;

$color-link: #fff;
$color-link-hover: #33ff99;

$color-text: #3A3A3A;
$color-light-text: #474747;

$main: #66ffcc;
$bright-blue: #3399cc;
$dark-green: #339999;
$dark-blue: #1c264a;

$color-validation-error: red;
$color-validation-success: green;




