$green-color: #00FF99;
$dark-grey-color: #3A3A3A;
$light-grey-color: #E6E6E6;



/* side nav style */

.student {
	padding-top: 0px;
}

.profile-image {
    max-width: 200px;
    border: 8px solid $light-grey-color;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}


.prof-image-div{
	text-align: center;

	.edit-form, .edit_user {
		width: 100%;
		input {
			width: 85%;
			font-size: 9pt;
			margin: 0;
			margin-bottom:8px;
		}

		.image-update-button {
			width: 60%;
		}

		.image-update-button:hover {
			background-color: $green-color;
			color: white;
			width: 60%;
		}
	}
}


.profile-contact, .profile-options, .profile-stats, .prof-image-div {
	margin-top: 10px;
	padding: 0;
	border-bottom: solid 1px #00FF99;
		h4{
			margin-bottom: 10px;
			text-transform: uppercase;
			font-size: 8pt;
		}
}


ul {
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}

li {
	list-style-type: none;
	margin: 0px;
	a {
		font-size: 11pt;
		text-decoration: none;
		line-height: 25pt;
	}
}

.edit_user {
	width: 100%;
		input {
			width: 85%;
			font-size: 9pt;
			margin: 0;
			margin-bottom:10px;
			margin-top: 5px;
		}

		label {
			color: #B8B8B8;
		}

		.update-button {
			width: 50%;
			background-color: white;
			border: solid 1px $green-color;
		}


		.update-button:hover {
			width: 50%;
			background-color: $green-color;
			color: white;
		}

}


.profile-stats {
	border-bottom: solid 0px #00FF99;

	p {
		font-size: 11pt;
		color: #666;
		text-align: center;
		margin-top: 0;
	}

	h1 {
		font-size: 70pt;
		margin: 0;
		text-align: center;
	}
}










.profile-header h1 {
	margin-left: 0px;
	margin-bottom: 5px;
	
}


.profile-header {
	margin-top: 0px;
}



/* buttons */
.edit-button, .image-edit-button {
	font-size: 12px;
	float: right;
	text-decoration: none;
	color: $light-grey-color;
	background-color: white;
	padding:5px;
	border-radius: 3px;
	margin-bottom: 4px;
	margin-top: 4px;
}

.edit-button:hover, .image-edit-button:hover {
	background-color: $green-color;
	color: white;
}


.image-update-button {
	width: 60%;
}

.image-update-button:hover {
	background-color: $green-color;
	color: white;
	width: 40%;
}




/* ??? */


a {
	color: #666;
}

a:hover {
	color: #00FF99;
}







.profile-header, .profile-skills, .profile-projects, .profile-experiences {
	background: white;
	border-radius: 5px;
	border: solid 1px #E6E6E6;
	padding: 20px;	
	width: 90%;
  height: 100%;
  min-width: 200px;
  margin-top: 40px;
 
}
.profile-skills h2, .profile-projects h2, .profile-experiences h2 {
	border-bottom: solid 1px #00FF99;
	margin-bottom: 5px;
}



.project, .experience {
    margin: 20px;
    border-radius: 7px;
		border: solid 1px #E6E6E6;
    padding: 20px;
}


.project-image {
    max-width: 100px;
    margin: 10px;
    margin-right: 20px;
    float: left;
}

.read-more {
			background-color: white;
			border: solid 1px #00FF99;
			padding: 6px;
			margin-bottom: 10px;
			text-decoration: none;
			font-size: 12px;
		}

.read-more:hover {
			background-color: #00FF99;
			color: #4D4D4D;
			font-size: 12px;
			border: solid 1px #00FF99;
		}

.delete-button, .image-update-button, .contact-update-button, .prefs-update-button, .student-header-update-button, .skill-update-button, .project-update-button, .project-create-button, .experience-update-button, .experience-create-button {
	font-size: 14px;
	background-color: white;
	border: solid 1px #00FF99;
	margin-top: 10px;
}

.profile-skills .delete-button {
	font-size: 8px;
	background-color: white;
	border: solid 1px #00FF99;
}

form {

	display: inline-block;
}

.skill-add-button, .add-button {
	font-size: 16px;
	background-color: #E6E6E6;
	width: 100%;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.skill-add-button:hover, .add-button:hover {
	background-color: #3A3A3A;
}



